@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: #299a98;
  --hover-color: #134239;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-color);
}



.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-bold {
  font-weight: 700;
}   
